body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loader{
    width: 80px;
    height: 80px;
    border: 8px solid lightgray;
    border-top: 8px solid blue;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin{
    from{
        transform: rotate(0deg);
    }

    to{
        transform: rotate(360deg);
    }
}